body{ 
   background-color: black;
   color: antiquewhite;
   font-size: x-large;
   margin:0em;

}
*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: xx-large;
}

.container{
    width:50%;
    height: 25%;
    display: flex;
    background-color: black;
    margin:10% auto;
    padding:3em 3em 3em 3em
}
span{
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}